<html>
    <head>
        <title>Creekside Technologies {{ page.title }}</title>
        <link href="mainStyle.css" type="text/css" rel="stylesheet">
        <link href="productStyle.css" type="text/css" rel="stylesheet">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EPCJ8XWZY2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-EPCJ8XWZY2');
        </script>
    </head>
    <body>
        <table cellpadding="0" cellspacing="0" border="0" class="pageMain">
            <tr>
                <td class="headerMain">
                    <table cellpadding="0" cellspacing="0" border="0" class="headerMain">
                        <tr>
                            <td class="headerLT">
                                &nbsp;
                            </td>
                            <td class="headerRT">
                                &nbsp;
                            </td>
                            <td class="headerFill">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td class="menuFill">
                                &nbsp;
                            </td>
                            <td class="blankBar" colspan="2">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="main">
                    <table cellpadding="0" cellspacing="0" border="0" class="main">
                        <tr>
                            <td class="menuFill">
                                <!-- Add Menu -->
                                <table width="130px" height="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tr>
                                        <td align="center" valign="top" width="130px" height="30px">
                                            <a href="index.html"
                                               onmouseover="document.home.src='./images/menu/home02.jpg'" 
                                               onmouseout="document.home.src='./images/menu/home01.jpg'">
                                                <img name="home" src="images/menu/home01.jpg" border="0" align="right">
                                            </a>
                                        </td>
                                    </tr
                                    <tr>
                                        <td align="center" valign="top" width="130px" height="30px">
                                            <a href="productLines.html"
                                               onmouseover="document.productLines.src='./images/menu/productLines02.jpg'" 
                                               onmouseout="document.productLines.src='./images/menu/productLines01.jpg'">
                                                <img name="productLines" src="images/menu/productLines01.jpg" border="0" align="right">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" width="130px" height="30px">
                                            <a href="catalog.html"
                                               onmouseover="document.catalog.src='./images/menu/catalog02.jpg'" 
                                               onmouseout="document.catalog.src='./images/menu/catalog01.jpg'">
                                                <img name="catalog" src="images/menu/catalog01.jpg" border="0" align="right">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" width="130px" height="30px">
                                            <a href="cleanRoomTerms.html"
                                               onmouseover="document.commonTerms.src='./images/menu/commonTerms02.jpg'" 
                                               onmouseout="document.commonTerms.src='./images/menu/commonTerms01.jpg'">
                                                <img name="commonTerms" src="./images/menu/commonTerms01.jpg" border="0" align="right">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" width="130px" height="30px">
                                            <a href="projectGallery.html"
                                               onmouseover="document.projectGallery.src='./images/menu/projectGallery02.jpg'" 
                                               onmouseout="document.projectGallery.src='./images/menu/projectGallery01.jpg'">
                                                <img name="projectGallery" src="./images/menu/projectGallery01.jpg" border="0" align="right">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" width="130px" height="30px">
                                            <a href="contact.html"
                                               onmouseover="document.contact.src='./images/menu/contact02.jpg'" 
                                               onmouseout="document.contact.src='./images/menu/contact01.jpg'">
                                                <img name="contact" src="./images/menu/contact01.jpg" border="0" align="right">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp</td>
                                    </tr>
                                </table>
                                <!-- End Menu -->
                            </td>
                            <td valign="top">
                                <!-- End Header -->
                                {{ content }}
                                <!-- Footer Page Start -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
